<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    {{with .Parent}}
    <a href="{{.URL}}"> Go back</a>
    {{end}}
    <ul>
        {{with .Children}} {{range .}}
        <li>
            <a href="{{.URL}}">{{.Name}}</a>
        </li>
        {{end}} {{end}}
    </ul>
</body>

</html>