<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.BaseName}}</title>
    <link type="text/css" rel="stylesheet" id="dir" href="/static/spinner.css">
    <link type="text/css" rel="stylesheet" id="dir" href="/static/dir.css">
    <script>
        window.localStorage.setItem("ACTIVE_ROUTE", "{{.URL}}")
    </script>
</head>

<body>
</body>
<footer>
    <script src="/static/ui.js"></script>
</footer>

</html>